# Tipe Data
Tipe data merupakan tipe dari berbagai jenis data. setiap data memiliki jenis dan tipe tipe yang berbeda. dalam python kita tidak perlu mendeklarasikan jenis tipe datanya.tipe data biasa bisa digunakan untuk membuat data dengan  tipe tertentu sesuai kebutuhan

Tipe data 1 : Tipe data karakter

Tipe data karakter biasa juga disebut dengan tipe data string
Tipe data string bisa memuat huruf dan juga angka bahkan juga simbol
nilai karakter dalam string harus diapit dengan kutip satu (') atau kutip dua (")
untuk string dengan baris yang banyak bisa menggunakan kutip 3 kali(""")

In [ ]:
nama = 'ahmad'
kelas = "9D"
pernyataan = """ jalan setaibudi blok 1
            kelurahan kebayoran baru jakarta selatan!"""
print(nama)
print(nama_panjang)
print(pernyataan)

Tipe data 2 : Tipe data karakter
integer = merupakan tipe data untuk menyatakan bilangan bulat ex: 1,2,3,4,5
float = merupakan tipe data untuk menyatakan bilangan desimal ex: 1.1,2.2,5.7
oktal = merupakan tipe data untuk menyatakan bilangan oktal(bilangan yang berbasis 8)

In [ ]:
jari_jari = 7
phi = 3.14
luas_lingkaran = phi * jari_jari * jari_jari
print("luas lingkaran =",luas_lingkaran)

Tipe data 3 : Tipe Data boolean
yaitu tipe data yang menyatakan jika suatu bernilai benar akan bernilai True atau 1dan jika salah akan bernilai False atau 0

In [9]:
lulus = True
gagal = False
print(lulus)
print(gagal)

True
False

tipe data 4: List
List merupakan sebauh struktur data yang dapat menyimpan banyak data dengan tipe data yang berbeda.
penulisan list sama seperti variabel akan tetapi list dapat diisi banyak data akan tetapi nilainya diisi didalam kurung kotak[]
cara mengakses nilai didalam list dengan menyebutkan nilai indeksnya dalam kurung kotak []
indeks dalam list dimulai dari 0

In [17]:
#contoh list kosong
barang = []

#contoh list yang diisi nilai
kendaraan = ["motor","mobil","sepeda"]
print(kendaraan)
kendaraan[1] = "pesawat"
print(barang)

print(kendaraan[0])
print(kendaraan[:3])

['motor', 'mobil', 'sepeda']
[]
motor
['motor', 'pesawat', 'sepeda']

In [ ]:
Tipe data 5: Tuple
Tuple merupakan sebuah struktur data yang hampir sama dengan list yaitu struktur data yang dapat menampung banyak data 
dengan tipe data yang berbeda. 
akan tetapi Tuple bersifat immutable yang artinya nilai yang ada didalamnya tidak bisa dirubah
penulisan Tuple bisa menggunakan tanda kurung maupun tidak
indeks dalam Tuple dimulai dari 0

In [20]:
#penulisan dengan kurung
bio = ("ahmad",17,"jakarta selatan")
print("nama =",bio[0])

#penulisan tanpa menggunakan kurung
siswa ="oji",90,"9D"
print("nama =",siswa[0])
print("nama =",bio[0])
print("nama =",bio[0])

nama = ahmad